body {
  font-family: sans-serif;
  text-align: center;
  background-color: #008e8e;
  color: white;
}

#lock-screen {
  margin-top: 20%;
}

input[type="password"] {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

#error-message {
  color: red;
  margin-top: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.grid img {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}
